// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme

@import './variables.scss';
@import "~@nativescript/theme/index";


// @import '~@nativescript/theme/core';
// @import '~@nativescript/theme/default';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

Label, SearchBar {
  font-size: 16;
}

.text-md {
  font-size: 16;
}

.text-lg {
  font-size: 20;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.bg-white {
  background-color: $white;
}

.bg-gray-100 {
  background-color: $gray-100;
}

.bg-gray-200 {
  background-color: $gray-200;
}

.border-gray-400 {
  border-color: $gray-400;
}

.page-bg {
  background-color: $gray-200;
}

.action-item {
  border-color: $gray-400;
  border-bottom-width: 1px;
  min-height: 45;
  padding: 0 20;
  background-color: $white
}

.action-item-first {
  border-top-width: 1px;
  margin-top: 10;
}

.action-item-switch {
  padding: 0 0 0 20;
}

.all-dates {
  background-color: #ffffff;
  padding: 10 20;
  border-color: $gray-400;
  border-bottom-width: 1px;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}

.h1 {
  font-weight: 700;
  color: $gray-900
}

.section-description {
  text-transform: uppercase;
  color: $gray-700;
  font-size: 12;
  margin: 30 20 0 20;
}
