// Sass variables
@import './variables.scss';

// NativeScript core theme
@import "~@nativescript/theme/index";


// -------------- Global styling --------------

// ------ Font Size ------
.text-sm {
  font-size: 14;
}

.text-md {
  font-size: 16;
}

.text-lg {
  font-size: 20;
}

// ------ Font Weight ------
.font-bold {
  font-weight: 700;
}


// ------ Text Color ------
.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-pink-100 {
  color: $pink-100;
}

.text-gray-600 {
  color: $gray-600;
}

.text-gray-100 {
  color: $gray-100;
}

.text-red-600 {
  color: $red-600;
}

// ------ Background Color ------
.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: $white;
}

.bg-white-transparent {
  background-color: rgba(255,255,255,0.75);
}

.bg-gray-100 {
  background-color: $gray-100;
}

.bg-gray-200 {
  background-color: $gray-200;
}

// ------ Border Color ------

.border-white-transparent {
  border-color: rgba(255,255,255,0.2);
}

.border-white-transparent-50 {
  border-color: rgba(255,255,255,0.5);
}

.border-gray-800 {
  border-color: $gray-800;
}

.border-pink-100 {
  border-color: $pink-100;
}

// ------ Border Width ------
.border-0 {
  border-width: 0;
}

.border {
  border-width: 1;
}

.border-2 {
  border-width: 2;
}

.border-t {
  border-top-width: 1;
}

.border-r {
  border-right-width: 1;
}

.border-b {
  border-bottom-width: 1;
}

.border-l {
  border-left-width: 1;
}

// ------ Border Radius ------
.rounded-none {
  border-radius: 0;
}

.rounded-sm {
  border-radius: 6;
}

.rounded-t-sm {
  border-top-right-radius: 6;
  border-top-left-radius: 6;
}

.rounded-r-sm {
  border-top-right-radius: 6;
  border-bottom-right-radius: 6;
}

.rounded-b-sm {
  border-bottom-right-radius: 6;
  border-bottom-left-radius: 6;
}

.rounded-l-sm {
  border-top-left-radius: 6;
  border-bottom-left-radius: 6;
}

.rounded-full {
  border-radius: 9999px;
}

// ------ Width ------
.w-full {
  width: 100%;
}

// ------ Height ------
.h-full {
  height: 100%;
}

// ------ Animations ------
@keyframes rotate90 {
  from { transform: none }
  to { transform: rotate(90); }
}
.rotate-90 {
  animation-name: rotate90;
  animation-duration: 0.17s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes rotate0 {
  from { transform: rotate(90) }
  to { transform: none; }
}
.rotate-0 {
  animation-name: rotate0;
  animation-duration: 0.17s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

// ------ NativeScript Custom Elements ------
Label, SearchBar {
  font-size: 16;
}

Switch.switch {
  background-color: #34C759; // iOS System color green
  off-background-color: $gray-500;
}

SegmentedBar {
  background-color: $gray-800;
  selected-background-color: $gray-600;
}

.tab-navigation {
  background-color: $gray-800;
  padding: 6 6;
  FlexboxLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    Label {
      color: $gray-600;
      font-size: 12;
      line-height: 12;
    }
    Image {
      flex-shrink: 0;
      tint-color: $gray-600;
    }
    &.active {
      Label {
        color: $gray-100;
      }
      Image {
        tint-color: $gray-100;
      }
    }
  }
}

// ------ Custom Class Components ------
.page-bg {
  background: linear-gradient(-22deg, #4a06a5, #cc1cab);
}

.page-padding {
  padding: 20;
}

.section-description {
  text-transform: uppercase;
  color: $pink-100;
  font-weight: 700;
  font-size: 12;
  margin: 30 20 0 20;
}

.page-bg-secondary {
  background-color: $gray-200;
  .section-description {
    color: $gray-600;
  }
}

.action-button {
  background-color: $gray-800;
  font-size: 16;
  color: $gray-100;
  border-radius: 9999;
  font-weight: 700;
}

.action-item {
  min-height: 45;
  padding: 10 20;
  background-color: rgba(255,255,255,0.75);
}

.action-item-first {
  margin-top: 10;
}

.action-item-switch {
  padding: 0 0 0 20;
}

.cheveron {
  tint-color: $gray-600;
  margin-left: 5;
}

.h1 {
  font-weight: 700;
  color: $pink-100;
  font-size: 28;
}

.app-name {
  font-family: "Rancho", "rancho";
  color: $pink-100;
  font-size: 32;
}


