// Override variables here
$white: #ffffff;
$black: #000000;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$green-100: #f0fff4;
$green-200: #c6f6d5;
$green-300: #9ae6b4;
$green-400: #68d391;
$green-500: #48bb78;
$green-600: #38a169;
$green-700: #2f855a;
$green-800: #276749;
$green-900: #22543d;

$red-100: #fff5f5;
$red-200: #fed7d7;
$red-300: #feb2b2;
$red-400: #fc8181;
$red-500: #f56565;
$red-600: #e53e3e;
$red-700: #c53030;
$red-800: #9b2c2c;
$red-900: #742a2a;

$pink-100: #FAE8F7;
$pink-200: #F2C7EA;
$pink-300: #EBA5DE;
$pink-400: #DB61C5;
$pink-500: #CC1DAC;
$pink-600: #B81A9B;
$pink-700: #7A1167;
$pink-800: #5C0D4D;
$pink-900: #3D0934;

$violet-100: #EDE6F6;
$violet-200: #D2C1E9;
$violet-300: #B79BDB;
$violet-400: #8051C0;
$violet-500: #4A06A5;
$violet-600: #430595;
$violet-700: #2C0463;
$violet-800: #21034A;
$violet-900: #160232;

// Assign colors
$primary: $gray-900;
$secondary: $gray-700;
$complementary: $violet-500;
$complementary-color: $violet-100;
$accent: $pink-500;